<div class="menu">
  <ul class="nav">
    <li class="header">Cronómetro</li>       
  </ul>                             
  <span id="cntdwn"></span>
  <div>
    <button id="calificar">Calificar</button>
  </div>
</div>
